.logoImage {
  /* width: 100%; */
}

@font-face {
  font-family: JMHADO;
  src: local("JMHADO"),
    url(./fonts/jmh_ado/JMH\ ADO.ttf) format("truetype");
}

@font-face {
  font-family: Montserrat;
  src: local("Montserrat"),
    url(./fonts/jmh_ado/Montserrat-Regular.ttf
) format("truetype");
}

@font-face {
  font-family: Nunito;
  src: local("Nunito"),
    url(./fonts/jmh_ado/Nunito-Regular.ttf
) format("truetype");
}

.bgcolor {
  background-color: #283848;
}

.dispaly {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
}

.react-calendar.hide {
  display: none;
}

.calendar {
  width: 500px;
  z-index: -1;
}

.iamgerounf {
  border-radius: 50%;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  flex-direction: row;
  justify-content: space-between;
}

.margin-right {
  margin-right: 43px;
}

.sidebar {
  max-width: 6.333333% !important;

  display: flex;
  flex-direction: column;
  margin-left: -22px;
  /* UI Properties */
  background: #283848 0% 0% no-repeat padding-box;
}

.left {
  margin-left: 20px;
}

.main-div {
  padding: 0px 30px;


}

.madin-second-container {
  display: flex;
  flex-direction: row;
}

.top-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.TQM-Button {
  width: 200px;
  border-radius: 50%;
  perspective: 1px;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-data {
  display: flex;
  width: 180px;
  height: 182px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000017;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0px 20px; */
  margin: auto;
}

.graph {
  width: 798px;
  height: 390px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 5px;
  margin-left: 25px;
  padding: 20px;
  /* background-image: url("./images/Screenshot 2022-10-09 113351.png"); */

}

.graph-boxes-div {
  display: flex;
  flex-direction: row;
}

.chart {
  /* width: 100%;
  height: 100%; */
}

.center {
  display: block;
  margin: auto;
}
.full-width {
  width: 100%;
}
.quality {
  color: white;
}
.text {
  /* UI Properties */
  text-align: center;
  font: normal normal bold 13px/16px Montserrat;
  letter-spacing: 0.26px;
  color: #6DBCDB;

}

.numbers {
  /* text-align: left;
  font: Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 20px; */
  text-align: center;
  font: normal normal bold 20px/16px Montserrat;
  letter-spacing: 0.26px;
  color: rgb(49, 47, 47);
  margin: 10px 0px 0p 20px;
  /* padding: 11px; */
}

.userstatic {

  text-align: left;
  font: Montserrat;
  letter-spacing: 0.24px;
  color: #000000;
  opacity: 1;
  font-size: 12px;

}

.graphseting-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hr {
  margin-top: 3px;
  color: black;
  width: 100%;
  border: 1px solid gray;
}

.down-raph {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -80px;
}


.sdfg {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: center;
}

.numbertr {
  margin-top: -40px;
}

.graph-textc {
  font: normal normal 300 12px/15px Montserrat;
  letter-spacing: 0.24px;
  color: #707070;
  opacity: 1;
}

.top-custoemrs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px;

}

.topcsutomers {
  /* padding: 0px 40px; */
  width: 520px;
  height: 195px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 15px;
  /* width: 548px; */
  height: 195px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000017;
}

.top-label {
  width: 110px;
  height: 30px;
  /* UI Properties */
  background: transparent linear-gradient(180deg, #FF9500 0%, #FFD45E 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal bold 13px/16px Montserrat;
  letter-spacing: 0.26px;
  color: #F7F7F7;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nameandpaisa {
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bnsjfd {
  display: flex;
  flex-direction: row;
}

.revenue-month {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;

}

.text123 {
  /* UI Properties */
  text-align: center;
  font: normal normal bold 13px/16px Montserrat;
  letter-spacing: 0.26px;
  color: black;
  margin: 10px 0px 0p 20px;
  padding: 11px;

}

.top-customers-numbers {
  text-align: center;
  font: normal normal bold 24px/16px Montserrat;
  letter-spacing: 0.26px;
  color: black;
  margin: 10px 0px 0p 20px;
  padding: 11px;
}

.revenue-text {
  font: normal normal 600 11px/15px Titillium Web;
  letter-spacing: 1.px;
  color: #707070;
  text-transform: uppercase;
  opacity: 1;
}

.top-customers-numbers-dollar {
  text-align: center;
  font: normal normal bold 12px/16px Montserrat;
  letter-spacing: 0.26px;
  color: black;
  /* margin: 10px 0px 0p 20px; */
  /* padding: 11px; */
}

.top-customers-numbers-dollarpercent {
  color: green;
  text-align: center;
  font: normal normal bold 12px/16px Montserrat;
  letter-spacing: 0.26px;
  /* color: black; */
}

.number-esring {
  display: flex;
}

.changecolor {
  color: red !important;

}

.changecolor22 {
  color: green !important;

}

.active-order {
  text-align: left;
  font: normal normal bold 24px/16px Montserrat;
  letter-spacing: 0.26px;
  color: rgb(34, 33, 33);
  padding: 30px;
}


/* Table CSS */
.table-wrapper {
  margin: 10px 15px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 10px;
  text-align: center;
  font: normal normal bold 12px/36px Nunito;
  letter-spacing: 0.1px;
  color: #4C4C4C;
  opacity: 1;
}

.fl-table thead tr {
  font: normal normal bold 16px/36px Nunito;
  letter-spacing: 0.12px;
  color: #C1001F;
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 20px 0px 20px #00000017;
}

.fl-table thead th {
  font: normal normal bold 16px/36px Nunito;
  letter-spacing: 0.12px;
  color: #C1001F;
  opacity: 1;

}


/* .fl-table thead th:nth-child(odd) {
  font: normal normal bold 16px/36px Nunito;
  letter-spacing: 0.12px;
  color: #C1001F;
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000017;
} */

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }

  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl-table thead, .fl-table tbody, .fl-table thead th {
    display: block;
  }

  .fl-table thead th:last-child {
    border-bottom: none;
  }

  .fl-table thead {
    float: left;
  }

  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl-table td, .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl-table tbody tr {
    display: table-cell;
  }

  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }

  .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}


.yellow-pill {
  /* height: 30px !important; */
  align-content: center;
  padding: 12px 24px;
  width: 80px;
  background-color: #FFF27B;
  border: none;
}

.green-pill {
  align-content: center;
  padding: 3px 26px;
  /* width: 80px; */
  background-color: #82F89D;
  border: none;
}
.input-group-text {
  background: white !important;
  border-left: none !important;
  cursor: pointer;
}
.tablecustomer {
  display: flex;
  flex-direction: row;
}

.text23 {
  /* UI Properties */
  text-align: center;
  font: normal normal bold 13px/16px Montserrat;
  letter-spacing: 0.26px;
  color: black;
  /* margin-top: -20px; */
  margin-top: 10px;

}

.text223 {
  /* UI Properties */
  text-align: center;
  font: normal normal bold 10px/16px Montserrat;
  letter-spacing: 0.26px;
  color: gray;
  margin-top: -15px;

}

.iamgerounfc {
  margin-top: 10px;
}

.tablecustomer997 {
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.maindiv-tqm {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 0px 50px;
}

.quality {
  width: 150px;
  height: 50px;
  border-radius: 50px 0px 0px 50px;
  background-color: red;
  border: white;
}

.quality-performance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Performance {
  width: 150px;
  border: none;

  height: 50px;
  border-radius: 0px 50px 50px 0px;
}


.datepicker-control-section {
  max-width: 246px;
  margin: 30px auto;
  padding-top: 50px;
}

.group2 {
  width: 300px !important;
}

.calendar12467 {
  display: flex;
  justify-content: flex-end;
}

.klass-setting {
  margin-right: 23px;
}

.cards-oerd {
  display: flex;
  justify-content: space-evenly;

}

.cccards-oerd {
  display: flex;
  justify-content: space-evenly;

}

.card- {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  width: 451px;
  height: 359px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  opacity: 1;
}

.card--- {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  width: 451px;
  height: 359px;
  /* UI Properties */
  border-radius: 25px;
  opacity: 1;
}

.span-center {
  display: flex;
}

.oder-acceptance {
  text-align: center;
  font: normal normal bold 32px/22px Nunito;
  letter-spacing: 0px;
  color: #606060;
  opacity: 1;
}

.jdhfjdfjha {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.phase-uttonm {
  width: 266px;
  height: 58px;
  /* UI Properties */
  background: transparent linear-gradient(300deg, #FCAF3C 0%, #FF9500 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  border: none;
  text-align: center;
  font: normal normal bold 22px/22px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.phase2-uttonm {
  width: 266px;
  height: 58px;
  /* UI Properties */
  background: transparent linear-gradient(322deg, #FFEF5D 0%, #F9C210 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  border: none;
  text-align: center;
  font: normal normal bold 22px/22px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  border: none;

}

.Ultimate-uttonm {
  text-align: center;
  font: normal normal bold 22px/22px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  width: 266px;
  height: 58px;
  border: none;

  /* UI Properties */
  background: transparent linear-gradient(355deg, #82F89D 0%, #46C864 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;

}

.phase- {
  width: 266px;
  height: 58px;
  /* UI Properties */
  background: transparent linear-gradient(300deg, #E11E25 0%, #D4242A 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 22px/22px Nunito;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  border: none;
}

.modeltitle {
  text-align: left;
  font: normal normal bold 20px/23px Nunito;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
}

.modal-div {
  display: flex;
  flex-direction: column;
}

.vutajdf {
  width: 200px;
}

.buttonupdate {
  display: flex;
  justify-content: space-around;
}

.padding-model {
  padding: 20px;
}

.custom-loofr {
  background-image: url("./images/icons8-pencil-96.png");
  border-radius: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20%;
  background-repeat: no-repeat;
  background-size: contain;
}

.ljhdf {
  display: flex;
  justify-content: flex-end;
}

.pencil {
  background-color: transparent !important;
  box-shadow: none !important;
}

.moeaer {
  backdrop-filter: blur(10px) !important;

}

.butorng {}

.modal-dialog .modal-content {
  border: 0;
  border-radius: 4.125rem !important;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

.textformodal {
  text-align: left;
  font: normal normal 600 14px/17px Nunito;
  letter-spacing: 0px;
  color: #2D2D2D;
  text-transform: capitalize;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.abnv {
  width: 150px;
  /* background-color: transparent; */
  /* border: 1px Solid gray; */
  /* box-shadow: none; */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #00000029;
  border-radius: 5px;
  opacity: 1;
}

.derpjai {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}